<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="indexer:MsdnPath"       value="s:\MSDN\ContentStore\en-US\" />
    <add key="indexer:FrameworkPath"  value="c:\Windows\Microsoft.NET\Framework64\v4.0.30319\" />
    <add key="indexer:AssemblyFilter" value="^(Microsoft|System|mscorlib$|Presentation|Windows)" />
  </appSettings>
</configuration>